<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "https://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration> 
    <settings>
        <setting name="jdbcTypeForNull" value="NULL"/>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    
    <!-- SQL쿼리문들이 저장된 SQL파일 등록 -->
    <mappers>
    
   		<!-- user -->
    	<mapper resource="sql/user/LoginList.xml"/>
    	<mapper resource="sql/user/RegisterInsert.xml"/>
    	<mapper resource="sql/user/IdFindCheck.xml"/>
    	<mapper resource="sql/user/PassFindCheck.xml"/>
    	
    	<!-- other -->
    	
    </mappers>
</configuration>