<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "https://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration> 
    <settings>
        <setting name="jdbcTypeForNull" value="NULL"/>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    
    <!-- SQL쿼리문들이 저장된 SQL파일 등록 -->
    <mappers>
    
   		<!-- user -->
    	<mapper resource="sql/user/LoginList.xml"/>
    	<mapper resource="sql/user/RegisterInsert.xml"/>
    	<mapper resource="sql/user/IdFindCheck.xml"/>
    	<mapper resource="sql/user/PassFindCheck.xml"/>
    	
    	<!-- home -->
    	<mapper resource="sql/home/HomeList.xml"/>
    	<mapper resource="sql/home/TimerInsert.xml"/>
    	
    	<!-- cat -->
    	<mapper resource="sql/cat/UserCat.xml"/>
    	<mapper resource="sql/cat/UserCoin.xml"/>
    	
    	<!-- inventory -->
    	<mapper resource="sql/inventory/InvDelete.xml"/>
    	<mapper resource="sql/inventory/InvList.xml"/>
    	
    	<!-- rank -->
    	<mapper resource="sql/rank/RankList.xml"/>
    	
    	<!-- store -->
    	<mapper resource="sql/store/StoreInsert.xml"/>
    	<mapper resource="sql/store/StoreList.xml"/>
    	
    	<!-- todo -->
    	<mapper resource="sql/todo/TodoList.xml"/>
    	<mapper resource="sql/todo/TodoInsert.xml"/>
    	<mapper resource="sql/todo/TodoUpdate.xml"/>
    	<mapper resource="sql/todo/TodoDelete.xml"/>
    	
    	<!-- upload -->
    	<mapper resource="sql/upload/image/ImageInsert.xml"/>
    	
    </mappers>
</configuration>